{% extends "template-email-inline.html" %}

{% block style %}
{{ super() }}
{% endblock %}

{# This is comment #}
{% block content %}
{{ super() }}
{% endblock %}

{% block header %}
Change Password
{% endblock %}

{% block text %}
Someone is trying to recover the password to your mail.
{% endblock %}

{% block button %}
<a class="button" href="{{ link }}">Restore password</a>
{% endblock %}

{% block link %}
If you do not see the button above, click on the link:  <a href="{{ link }}">Restore password</a>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
